* {
  margin: 0;
  box-sizing: border-box;
}
.container {
  margin: 0;
  width: 100vw;
  height: 110vh;
  background: #616161; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.white-container {
  width: 100%;
  height: 100px;
  background-color: white;
}
.settings-container img {
  padding: 20px;
}

.logo-container {
  position: absolute;
  top: 0%;
  left: 45%;
}
.navbar {
  position: absolute;
  top: 1%;
  left: 75%;
}
.navbar ul {
  display: flex;

  justify-content: space-around;
}
.navbar li {
  font-family: "Audiowide", sans-serif;
  margin: 0;
  padding: 20px;
  list-style: none;
  font-size: 30px;
}
.navbar li:hover {
  background-color: black;
  color: beige;
}
.profile-pic {
  position: absolute;
  top: 0%;
  left: 93%;
  border-radius: 90%;
}
.section1 {
  padding: 60px;
  position: absolute;
  top: 50%;
}
.btn1 {
  width: 80%;
  height: 40px;
  border-radius: 50px;
  background-color: black;
  color: beige;
}
.section1 h1 {
  font-size: 60px;
  font-family: "Trirong", serif;
}
.section1 h2 {
  position: absolute;
  top: 60%;
  font-size: 70px;
  font-family: "Trirong", serif;
}
.section1 h3 {
  font-style: italic;
  font-size: 20px;
  position: absolute;
  top: 100%;
}
.btn2 {
  position: absolute;
  top: 180%;
  left: 20%;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  background-color: blue;
  border: none;
  color: beige;
}
span {
  position: absolute;
  top: 160%;
  font-size: 20px;
}
.btn3 {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 180%;
  left: 125%;
  border-radius: 30px;
  border: none;
}
.section2 img {
  position: absolute;
  left: 27%;
  filter: drop-shadow(0 50px 20px blue);
}
.section3 .box{
  top: 40vh;
  position: relative;
  z-index: 100;
}
.section3 .sc1 {
   border: 4px solid blue;
  position: absolute;
  width: 150px;
  height: 180px;
  background-color: mistyrose;
  position: absolute;
  top: 40%;
  left: 76%;
  border-radius: 20px;
  border-radius: 20px;
    background: #616161; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9bc5c3,
    #616161
  );
}
.section3 h1 {
  position: absolute;
  top: 50%;
  left: 20%;
  text-align: center;
}
.section3 .sc2 {
    border: 4px solid blue;
  position: absolute;
  width: 150px;
  height: 180px;
  background-color: mistyrose;
  position: absolute;
  top: 40%;
  left: 86%;
  border-radius: 20px;
  border-radius: 20px;
    background: #616161; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9bc5c3,
    #616161
  );
}
.section3 h1 {
  position: absolute;
  top: 50%;
  left: 20%;
  text-align: center;
}

.section3 .sc3 {
    border: 4px solid blue;
  position: absolute;
  width: 150px;
  height: 180px;
  background-color: mistyrose;
  position: absolute;
  top: 60%;
  left: 86%;
  border-radius: 20px;
  border-radius: 20px;
    background: #616161; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9bc5c3,
    #616161
  );
}
.section3 h1 {
  position: absolute;
  top: 45%;
  left: 18%;
  text-align: center;
}
 .section3 .sc4 {
    border: 4px solid blue;
    position: absolute;
    width: 150px;
    height: 180px;
    background-color: mistyrose;
    position: absolute;
    top: 60%;
    left: 76%;
    border-radius: 20px;
    background: #616161; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9bc5c3,
    #616161
  );
 }
.car-section video{
    filter: drop-shadow(20px 30px 20px blue);
position: absolute;
top:80%;
left:77%;
border-radius: 20px;

}
  